<div class="row">
  <div class="col s3">
    <div class="card grey lighten-3 medium">
      <div class="card-image">
        <%= image_tag  "teste/amumia.jpg" %>
      </div>

      <div class="card-content">
        <span class="card-title black-text activator">The Mummy <i class="material-icons right">more_vert</i> </span>
        <p>Filme bom com Tom cruise, e a mumia maluca</p>
      </div>

      <div class="card-reveal">
          <span class="card-title black-text">A Mumia <i class="material-icons right">close</i></span>
          <p>
              Na Mesopotâmia, séculos atrás, Ahmanet (Sofia Boutella) tem seus planos interrompidos justamente quando está prestes a invocar Set,
              o deus da morte, de forma que juntos possam governar o mundo.  Mumificada, ela é aprisionada dentro de uma tumba. Nos dias atuais,
              o local é descoberto por acidente por Nick Morton (Tom Cruise) e Chris Vail (Jake Johnson), 
              saqueadores de artefatos antigos que estavam na região em busca de raridades. Ao lado da pesquisadora Jenny Halsey (Annabelle Wallis), 
              eles investigam a tumba recém-descoberta e, acidentalmente, despertam Ahmanet. Ela logo elege Nick como seu escolhido e, 
              a partir de então, busca a adaga de Set para que possa invocá-lo no corpo do saqueador.
          </p>
      </div>

      <div class="card-action">
        <a href="#">Filme</a>
        <a href="#">Legenda</a>
      </div>
      
    </div>
  </div>
  <!-- SEGUNDO CARD -->
  <div class="col s3">
      <div class="card grey lighten-3 medium">
        <div class="card-image">
          <%= image_tag  "teste/thor2.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title black-text activator">Thor: Ragnarock <i class="material-icons right">more_vert</i> </span>
          <p>Filme bom com Tom cruise, e a mumia maluca</p>
        </div>
        <div class="card-reveal">
            <span class="card-title black-text">A Mumia <i class="material-icons right">close</i></span>
            <p>
                Na Mesopotâmia, séculos atrás, Ahmanet (Sofia Boutella) tem seus planos interrompidos justamente quando está prestes a invocar Set,
                o deus da morte, de forma que juntos possam governar o mundo.  Mumificada, ela é aprisionada dentro de uma tumba. Nos dias atuais,
                o local é descoberto por acidente por Nick Morton (Tom Cruise) e Chris Vail (Jake Johnson), 
                saqueadores de artefatos antigos que estavam na região em busca de raridades. Ao lado da pesquisadora Jenny Halsey (Annabelle Wallis), 
                eles investigam a tumba recém-descoberta e, acidentalmente, despertam Ahmanet. Ela logo elege Nick como seu escolhido e, 
                a partir de então, busca a adaga de Set para que possa invocá-lo no corpo do saqueador.
            </p>
        </div>
        <div class="card-action">
          <a href="#">Filme</a>
          <a href="#">Legenda</a>
        </div>
        
      </div>
  </div>
  <!-- TERCEIRO CARD -->
  <div class="col s3">
      <div class="card grey lighten-3 medium">
        <div class="card-image">
          <%= image_tag  "teste/avengers2.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title black-text activator">Avengers: Inifinte War <i class="material-icons right">more_vert</i> </span>
          <p>Filme bom com Tom cruise, e a mumia maluca</p>
        </div>
        <div class="card-reveal">
            <span class="card-title black-text">A Mumia <i class="material-icons right">close</i></span>
            <p>
                Na Mesopotâmia, séculos atrás, Ahmanet (Sofia Boutella) tem seus planos interrompidos justamente quando está prestes a invocar Set,
                o deus da morte, de forma que juntos possam governar o mundo.  Mumificada, ela é aprisionada dentro de uma tumba. Nos dias atuais,
                o local é descoberto por acidente por Nick Morton (Tom Cruise) e Chris Vail (Jake Johnson), 
                saqueadores de artefatos antigos que estavam na região em busca de raridades. Ao lado da pesquisadora Jenny Halsey (Annabelle Wallis), 
                eles investigam a tumba recém-descoberta e, acidentalmente, despertam Ahmanet. Ela logo elege Nick como seu escolhido e, 
                a partir de então, busca a adaga de Set para que possa invocá-lo no corpo do saqueador.
            </p>
        </div>
        <div class="card-action">
          <a href="#">Filme</a>
          <a href="#">Legenda</a>
        </div>
        
      </div>
  </div>
  <!-- QUARTO CARD -->
  <div class="col s3">
      <div class="card grey lighten-3 medium">
        <div class="card-image">
          <%= image_tag  "teste/johnwick.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title black-text activator">John Wick 2 <i class="material-icons right">more_vert</i> </span>
          <p>Filme bom com Tom cruise, e a mumia maluca</p>
        </div>
        <div class="card-reveal">
            <span class="card-title black-text">A Mumia <i class="material-icons right">close</i></span>
            <p>
                Na Mesopotâmia, séculos atrás, Ahmanet (Sofia Boutella) tem seus planos interrompidos justamente quando está prestes a invocar Set,
                o deus da morte, de forma que juntos possam governar o mundo.  Mumificada, ela é aprisionada dentro de uma tumba. Nos dias atuais,
                o local é descoberto por acidente por Nick Morton (Tom Cruise) e Chris Vail (Jake Johnson), 
                saqueadores de artefatos antigos que estavam na região em busca de raridades. Ao lado da pesquisadora Jenny Halsey (Annabelle Wallis), 
                eles investigam a tumba recém-descoberta e, acidentalmente, despertam Ahmanet. Ela logo elege Nick como seu escolhido e, 
                a partir de então, busca a adaga de Set para que possa invocá-lo no corpo do saqueador.
            </p>
        </div>
        <div class="card-action">
          <a href="#">Filme</a>
          <a href="#">Legenda</a>
        </div>
        
      </div>
  </div>
  <!-- QUINTO CARD -->
  <div class="col s3">
      <div class="card grey lighten-3 medium">
        <div class="card-image">
          <%= image_tag  "teste/thor2.jpg" %>
        </div>
        <div class="card-content">
          <span class="card-title black-text activator">Thor: Ragnarock <i class="material-icons right">more_vert</i> </span>
          <p>Filme bom com Tom cruise, e a mumia maluca</p>
        </div>
        <div class="card-reveal">
            <span class="card-title black-text">A Mumia <i class="material-icons right">close</i></span>
            <p>
                Na Mesopotâmia, séculos atrás, Ahmanet (Sofia Boutella) tem seus planos interrompidos justamente quando está prestes a invocar Set,
                o deus da morte, de forma que juntos possam governar o mundo.  Mumificada, ela é aprisionada dentro de uma tumba. Nos dias atuais,
                o local é descoberto por acidente por Nick Morton (Tom Cruise) e Chris Vail (Jake Johnson), 
                saqueadores de artefatos antigos que estavam na região em busca de raridades. Ao lado da pesquisadora Jenny Halsey (Annabelle Wallis), 
                eles investigam a tumba recém-descoberta e, acidentalmente, despertam Ahmanet. Ela logo elege Nick como seu escolhido e, 
                a partir de então, busca a adaga de Set para que possa invocá-lo no corpo do saqueador.
            </p>
        </div>
        <div class="card-action">
          <a href="#">Filme</a>
          <a href="#">Legenda</a>
        </div>
        
      </div>
  </div>


</div>